
.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:0.916992;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff2;src:url(f2.woff)format("woff");}.ff2{font-family:ff2;line-height:0.954102;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff3;src:url(f3.woff)format("woff");}.ff3{font-family:ff3;line-height:0.981445;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff4;src:url(f4.woff)format("woff");}.ff4{font-family:ff4;line-height:0.910156;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff5;src:url(f5.woff)format("woff");}.ff5{font-family:ff5;line-height:0.674805;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff6;src:url(f6.woff)format("woff");}.ff6{font-family:ff6;line-height:0.910645;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff7;src:url(f7.woff)format("woff");}.ff7{font-family:ff7;line-height:0.893555;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff8;src:url(f8.woff)format("woff");}.ff8{font-family:ff8;line-height:0.795410;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff9;src:url(f9.woff)format("woff");}.ff9{font-family:ff9;line-height:0.893066;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ffa;src:url(fa.woff)format("woff");}.ffa{font-family:ffa;line-height:0.707520;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ffb;src:url(fb.woff)format("woff");}.ffb{font-family:ffb;line-height:1.009766;font-style:normal;font-weight:normal;visibility:visible;}
.m0{transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);}
.m1{transform:none;-ms-transform:none;-webkit-transform:none;}
.v0{vertical-align:0.000000px;}
.ls0{letter-spacing:0.000000px;}
.sc_{text-shadow:none;}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.ws0{word-spacing:0.000000px;}
._d{width:5.376000px;}
._11{width:33.396000px;}
._c{width:50.016000px;}
._12{width:51.612000px;}
._6{width:68.016000px;}
._1{width:72.000000px;}
._2{width:84.000000px;}
._3{width:96.048000px;}
._5{width:108.000000px;}
._8{width:125.280000px;}
._0{width:130.656000px;}
._f{width:154.608000px;}
._7{width:157.344000px;}
._b{width:184.368000px;}
._10{width:208.252000px;}
._9{width:215.952000px;}
._e{width:225.360000px;}
._4{width:357.360000px;}
._a{width:370.656000px;}
.fc1{color:rgb(0,0,255);}
.fc0{color:rgb(0,0,0);}
.fs2{font-size:32.000000px;}
.fs4{font-size:40.000000px;}
.fs3{font-size:44.000000px;}
.fs1{font-size:48.000000px;}
.fs0{font-size:56.000000px;}
.y54{bottom:4.635001px;}
.y2b{bottom:4.885001px;}
.y52{bottom:5.034999px;}
.y29{bottom:5.634999px;}
.y23{bottom:5.784999px;}
.y25{bottom:6.085002px;}
.y27{bottom:6.534999px;}
.y21{bottom:50.821975px;}
.y20{bottom:64.620986px;}
.y1f{bottom:78.419997px;}
.y50{bottom:91.956985px;}
.y1e{bottom:92.219008px;}
.y4f{bottom:105.438971px;}
.y1d{bottom:119.816970px;}
.y1c{bottom:133.615981px;}
.y4e{bottom:144.683990px;}
.y1b{bottom:147.414992px;}
.y1a{bottom:161.214004px;}
.y2c{bottom:169.500000px;}
.y0{bottom:186.000000px;}
.y2a{bottom:194.614978px;}
.y4d{bottom:195.279999px;}
.y4c{bottom:220.577972px;}
.y19{bottom:230.208999px;}
.y18{bottom:244.008010px;}
.y4b{bottom:245.876007px;}
.y17{bottom:257.807021px;}
.y4a{bottom:259.174006px;}
.y16{bottom:271.605971px;}
.y53{bottom:285.692004px;}
.y28{bottom:299.655995px;}
.y49{bottom:330.037002px;}
.y15{bottom:340.601027px;}
.y48{bottom:343.836013px;}
.y14{bottom:354.399978px;}
.y47{bottom:357.635024px;}
.y13{bottom:368.198989px;}
.y46{bottom:371.434005px;}
.y12{bottom:381.998000px;}
.y11{bottom:395.797011px;}
.y10{bottom:409.595992px;}
.y55{bottom:413.582964px;}
.yf{bottom:423.395003px;}
.ye{bottom:437.193984px;}
.yd{bottom:451.555007px;}
.y45{bottom:454.227993px;}
.y44{bottom:468.026992px;}
.y43{bottom:481.826015px;}
.y26{bottom:487.955000px;}
.y42{bottom:495.625014px;}
.y41{bottom:509.423988px;}
.yc{bottom:520.813010px;}
.y40{bottom:523.222988px;}
.y3f{bottom:537.021987px;}
.yb{bottom:547.813010px;}
.y3e{bottom:550.604004px;}
.ya{bottom:561.313010px;}
.y3d{bottom:563.469985px;}
.y9{bottom:574.813010px;}
.y3c{bottom:589.917995px;}
.y8{bottom:601.813010px;}
.y3b{bottom:603.716994px;}
.y7{bottom:615.313010px;}
.y3a{bottom:617.516003px;}
.y6{bottom:628.813003px;}
.y39{bottom:631.315001px;}
.y38{bottom:645.113995px;}
.y37{bottom:658.912993px;}
.y24{bottom:673.360991px;}
.y36{bottom:685.143997px;}
.y35{bottom:698.009994px;}
.y5{bottom:712.234003px;}
.y34{bottom:725.608001px;}
.y4{bottom:726.882003px;}
.y33{bottom:739.406997px;}
.y32{bottom:753.206000px;}
.y22{bottom:753.652998px;}
.y31{bottom:767.005001px;}
.y30{bottom:780.804000px;}
.y2f{bottom:807.034996px;}
.y2d{bottom:819.901000px;}
.y2e{bottom:823.537000px;}
.y3{bottom:823.958999px;}
.y2{bottom:837.458999px;}
.y1{bottom:851.485999px;}
.y51{bottom:853.899996px;}
.h17{height:16.700001px;}
.hd{height:16.950001px;}
.h16{height:17.099998px;}
.hc{height:17.699999px;}
.h9{height:17.849998px;}
.ha{height:18.150002px;}
.hb{height:18.599998px;}
.hf{height:21.687500px;}
.h14{height:29.798828px;}
.h13{height:29.820312px;}
.h10{height:30.550781px;}
.h6{height:31.992188px;}
.h15{height:32.011719px;}
.h8{height:32.531250px;}
.h5{height:33.328125px;}
.h7{height:33.351562px;}
.h3{height:33.421875px;}
.h4{height:35.320312px;}
.h2{height:37.324219px;}
.h11{height:37.593750px;}
.h12{height:38.910156px;}
.he{height:708.000000px;}
.h1{height:715.000000px;}
.h0{height:936.000000px;}
.w2{width:506.999988px;}
.w1{width:513.000000px;}
.w0{width:576.000000px;}
.x14{left:29.950001px;}
.x4{left:35.200001px;}
.x7{left:38.950001px;}
.x0{left:40.000000px;}
.x9{left:42.700001px;}
.x12{left:44.950001px;}
.xb{left:50.200001px;}
.x2{left:67.699997px;}
.xd{left:114.029999px;}
.xe{left:125.584995px;}
.x6{left:147.552997px;}
.xa{left:155.427997px;}
.x8{left:160.097003px;}
.x3{left:175.699997px;}
.x13{left:179.483996px;}
.xc{left:195.890002px;}
.x5{left:210.112002px;}
.x1{left:211.699997px;}
.x15{left:213.250003px;}
.xf{left:229.699997px;}
.x10{left:247.699997px;}
.x11{left:355.699997px;}
@media print{
.v0{vertical-align:0.000000pt;}
.ls0{letter-spacing:0.000000pt;}
.ws0{word-spacing:0.000000pt;}
._d{width:7.168000pt;}
._11{width:44.528000pt;}
._c{width:66.688000pt;}
._12{width:68.816000pt;}
._6{width:90.688000pt;}
._1{width:96.000000pt;}
._2{width:112.000000pt;}
._3{width:128.064000pt;}
._5{width:144.000000pt;}
._8{width:167.040000pt;}
._0{width:174.208000pt;}
._f{width:206.144000pt;}
._7{width:209.792000pt;}
._b{width:245.824000pt;}
._10{width:277.669333pt;}
._9{width:287.936000pt;}
._e{width:300.480000pt;}
._4{width:476.480000pt;}
._a{width:494.208000pt;}
.fs2{font-size:42.666667pt;}
.fs4{font-size:53.333333pt;}
.fs3{font-size:58.666667pt;}
.fs1{font-size:64.000000pt;}
.fs0{font-size:74.666667pt;}
.y54{bottom:6.180002pt;}
.y2b{bottom:6.513335pt;}
.y52{bottom:6.713332pt;}
.y29{bottom:7.513332pt;}
.y23{bottom:7.713332pt;}
.y25{bottom:8.113336pt;}
.y27{bottom:8.713332pt;}
.y21{bottom:67.762633pt;}
.y20{bottom:86.161315pt;}
.y1f{bottom:104.559996pt;}
.y50{bottom:122.609313pt;}
.y1e{bottom:122.958678pt;}
.y4f{bottom:140.585294pt;}
.y1d{bottom:159.755960pt;}
.y1c{bottom:178.154641pt;}
.y4e{bottom:192.911987pt;}
.y1b{bottom:196.553323pt;}
.y1a{bottom:214.952005pt;}
.y2c{bottom:226.000000pt;}
.y0{bottom:248.000000pt;}
.y2a{bottom:259.486637pt;}
.y4d{bottom:260.373332pt;}
.y4c{bottom:294.103963pt;}
.y19{bottom:306.945332pt;}
.y18{bottom:325.344013pt;}
.y4b{bottom:327.834676pt;}
.y17{bottom:343.742695pt;}
.y4a{bottom:345.565342pt;}
.y16{bottom:362.141295pt;}
.y53{bottom:380.922672pt;}
.y28{bottom:399.541327pt;}
.y49{bottom:440.049335pt;}
.y15{bottom:454.134703pt;}
.y48{bottom:458.448017pt;}
.y14{bottom:472.533304pt;}
.y47{bottom:476.846699pt;}
.y13{bottom:490.931985pt;}
.y46{bottom:495.245340pt;}
.y12{bottom:509.330667pt;}
.y11{bottom:527.729349pt;}
.y10{bottom:546.127989pt;}
.y55{bottom:551.443953pt;}
.yf{bottom:564.526671pt;}
.ye{bottom:582.925312pt;}
.yd{bottom:602.073343pt;}
.y45{bottom:605.637324pt;}
.y44{bottom:624.035989pt;}
.y43{bottom:642.434687pt;}
.y26{bottom:650.606667pt;}
.y42{bottom:660.833352pt;}
.y41{bottom:679.231984pt;}
.yc{bottom:694.417347pt;}
.y40{bottom:697.630651pt;}
.y3f{bottom:716.029316pt;}
.yb{bottom:730.417347pt;}
.y3e{bottom:734.138672pt;}
.ya{bottom:748.417347pt;}
.y3d{bottom:751.293313pt;}
.y9{bottom:766.417347pt;}
.y3c{bottom:786.557327pt;}
.y8{bottom:802.417347pt;}
.y3b{bottom:804.955992pt;}
.y7{bottom:820.417347pt;}
.y3a{bottom:823.354670pt;}
.y6{bottom:838.417337pt;}
.y39{bottom:841.753335pt;}
.y38{bottom:860.151993pt;}
.y37{bottom:878.550658pt;}
.y24{bottom:897.814655pt;}
.y36{bottom:913.525330pt;}
.y35{bottom:930.679991pt;}
.y5{bottom:949.645337pt;}
.y34{bottom:967.477334pt;}
.y4{bottom:969.176004pt;}
.y33{bottom:985.875996pt;}
.y32{bottom:1004.274667pt;}
.y22{bottom:1004.870665pt;}
.y31{bottom:1022.673335pt;}
.y30{bottom:1041.072000pt;}
.y2f{bottom:1076.046661pt;}
.y2d{bottom:1093.201333pt;}
.y2e{bottom:1098.049334pt;}
.y3{bottom:1098.611998pt;}
.y2{bottom:1116.611998pt;}
.y1{bottom:1135.314665pt;}
.y51{bottom:1138.533328pt;}
.h17{height:22.266668pt;}
.hd{height:22.600001pt;}
.h16{height:22.799998pt;}
.hc{height:23.599998pt;}
.h9{height:23.799998pt;}
.ha{height:24.200002pt;}
.hb{height:24.799998pt;}
.hf{height:28.916667pt;}
.h14{height:39.731771pt;}
.h13{height:39.760417pt;}
.h10{height:40.734375pt;}
.h6{height:42.656250pt;}
.h15{height:42.682292pt;}
.h8{height:43.375000pt;}
.h5{height:44.437500pt;}
.h7{height:44.468750pt;}
.h3{height:44.562500pt;}
.h4{height:47.093750pt;}
.h2{height:49.765625pt;}
.h11{height:50.125000pt;}
.h12{height:51.880208pt;}
.he{height:944.000000pt;}
.h1{height:953.333333pt;}
.h0{height:1248.000000pt;}
.w2{width:675.999983pt;}
.w1{width:684.000000pt;}
.w0{width:768.000000pt;}
.x14{left:39.933334pt;}
.x4{left:46.933334pt;}
.x7{left:51.933334pt;}
.x0{left:53.333333pt;}
.x9{left:56.933334pt;}
.x12{left:59.933334pt;}
.xb{left:66.933334pt;}
.x2{left:90.266663pt;}
.xd{left:152.039998pt;}
.xe{left:167.446660pt;}
.x6{left:196.737329pt;}
.xa{left:207.237329pt;}
.x8{left:213.462671pt;}
.x3{left:234.266663pt;}
.x13{left:239.311995pt;}
.xc{left:261.186670pt;}
.x5{left:280.149336pt;}
.x1{left:282.266663pt;}
.x15{left:284.333337pt;}
.xf{left:306.266663pt;}
.x10{left:330.266663pt;}
.x11{left:474.266663pt;}
}
